.btn.btn-secondary.btnFinish{
    background-color: #DA6A04;
    color:#000000;
    font-size: 1rem;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.btn-secondary.btnFinish:hover{
    background-color: #2D910F;
    color: #fff;
}
