.product {
    display: flex;
    border: 1px solid #000000;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.imgProduct {
    width: 60px;
    height: 90px;
    border-radius: 10px;
    margin-left: 1.7rem;
    margin-right: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgAndTitle {
    width: 340px;
}

.product span {
    width: 240px;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
}

.btnQuantity {
    width: 240px;
}

.btnRemove {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.18rem;
    height: 1.2rem;
    font-size: 1.3rem;
    border: 1px solid #7A7575;
    background: none;
    cursor: pointer;
}

.total {
    padding-left: 1.8rem;
}


@media(max-width: 900px) and (min-width:780px) {

    .imgProduct {
        margin-left: 0;
    }

    .imgAndTitle {
        width: 550px;
        justify-content: left;
        align-items: left;
    }
}


@media(max-width: 770px) {

    .product .delivery {
        display: none;
        width: 100%;
    }

    .total {
        display: none;
    }

    .btnQuantity {
        width: 80px;
        margin-left: 0.5rem;
    }

    .product span {
        width: 50px;
        margin-right: 0.5rem;
    }

    .imgProduct {
        margin: 0;
    }

    .imgAndTitle {
        width: 200px;
        margin: 0;
    }

    .imgAndTitle span {
        margin-left: 0.5rem;
        width: 100%;
        text-align: left;
    }

    .btnRemove {
        display: none;
    }
}


@media(max-width: 380px) {
    .imgAndTitle {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
}