.content {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 95%;
    min-height: 9vh;
}


.content .titleProduct{
    margin-left: 2rem;
    margin-right: 4rem;
    text-align: left;
    }
    
.content span{
    width: 290px;
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    }

.titleTotal{
    margin-right: 2rem;
}