section .containerAbout {
    justify-content: center;
    align-items:center;
    position:relative;
}
.buttonComeBack{
    margin: 0rem 7rem;
}
.subtitle {
    margin-left: 4rem;
    font-family: 'Alfa Slab One';
    width: 676px;
    height: 7rem;
    line-height: 3rem;
    font-style: normal;
    font-size: 4.5rem;
    font-weight: 800;
    color: #FF8A20;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerAbout .figure {
    position:relative;
    display: flex;
}

.containerAbout .figure .image-front{
    position:absolute;
    left: -50px;
    bottom: -50px;
}
.background-about{
    background-color:#F5EEEE;
}
.flex {
    display: flex;
    align-items: center;
}

.container2{
    margin: 40px;
    margin-top: 200px;
}
.container2 h2 {
    Font-family: Arya;
    font-weight: 400;
    font-size: 48px;
    width: 261px;
    height: 113px;
    top: 248px;
    left: 891px;
    margin-left: 1rem;
    
}

.container2 .text1 {
    Font-family: Alfa Slab One;
    font-weight: 400;
    font-size: 36px;
    Line-height: 40px;
    width: 430px;
    height: 364.6px;
    top: 438px;
    left: 891px;
    margin-bottom: 3vh;
}

.container2 .text2 {
    Font-family: Arya;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 3rem;
    color:#FF8A20;
    margin-bottom: 5vh;
}



