.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.buttonComeBack{
    margin-left: 3rem;
}

.title {
margin-left:9.5rem;
}

.cardProduct{
    width: 95%;
    max-height: 250px;
    overflow-y: auto;
}

.cardProduct::-webkit-scrollbar {
    width: 6px;
}


.cardProduct::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}


.cardProduct::-webkit-scrollbar-thumb {
    background: #FF8A20;
    border-radius: 5px;
}


.cartFooter{
    width: 95%;
    border: 1px solid #000000;
}
