.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    max-width: 80%;
}

.buttonComeBack{
    margin-left: 3rem;
}

.titleCart {
margin-left:10rem;
}

.cardProduct{
    width: 95%;
    max-height: 300px;
    overflow-y: auto;
}

.cardProduct::-webkit-scrollbar {
    width: 6px;
}


.cardProduct::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}


.cardProduct::-webkit-scrollbar-thumb {
    background: #FF8A20;
    border-radius: 5px;
}


.cartFooter{
    width: 95%;
    border: 1px solid #000000;
}


@media(max-width: 900px){

.titleCart {
margin-top: 1rem;
margin-left: 5rem; 
    }
    
}

@media(max-width: 750px){

    .titleCart {
     margin-top: 1rem;
     margin-left: 3rem;
     margin-bottom: 3rem;
    }

    .cardProduct{
        overflow: hidden;
        max-height: 100%;
    }
    .cartFooter {
        border: none;
    }
    
    }
