*{
    justify-content: space-around ;
}

.menu{
    padding: 0;
    margin: 0;
    font-family: 'Arya';
    font-size: 3vh;
    background-color: #000;
}

#ims{
    width: 20vh;
    height: 10vh;
}

#ims2{
    width: 4vh;
    height: 4vh;
}

.imgs{
    width: 4vh;
    height: 4vh;
}

.imgs:hover{
    border-bottom: 2px solid #FF8A20;
}

#badgenav{
    background-color: #FF8A20;
    color:#fff;
    border-radius: 50vh;
    padding: 1.5vh 2vh;
}

#colors{
    color: #fff;
}

#colors:hover{
    color: #FF8A20;
}

.navbar-toggler-icon{
    background-color: #ffffff;
}