.feet{
    padding: 0;
    margin: 0;
    background-color: black;
    color: #fff;
}

p{
    text-align:start;
    font-family: 'Arya';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 3vh;
}

#p1{
    text-align:start;
    font-family: 'Arya';
    font-style: normal;
    font-size: 4vh;
    line-height: 4vh;
}