
@import url('https://fonts.googleapis.com/css2?family=Arya&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    font-family: 'Arya', sans-serif;
  }